In [1]:
import pandas as pd
import geopandas as gpd
%matplotlib inline
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import folium

C:\Users\gabri\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [4]:
match_day = pd.read_csv('../../../data/data from API/match_day/hourly(20-4).csv')
match_day

,Unnamed: 0,origin_id,destination_id,total_trips,Arrival Hour
0,0,"Leblon, (103)","STADIUM AREA, (182)",18.36,0
1,1,"Lins de Vasconcelos, (105)","STADIUM AREA, (182)",10.76,0
2,2,"NILÓPOLIS, (11)","STADIUM AREA, (182)",10.13,0
3,3,"Marechal Hermes, (111)","STADIUM AREA, (182)",13.04,0
4,4,"Maré, (113)","STADIUM AREA, (182)",14.37,0
...,...,...,...,...,...
5296,5296,"Itanhangá, (91)","STADIUM AREA, (182)",17.23,23
5297,5297,"Jacarepaguá, (92)","STADIUM AREA, (182)",87.06,23
5298,5298,"Jacaré, (94)","STADIUM AREA, (182)",11.10,23
5299,5299,"Jardim Botânico, (96)","STADIUM AREA, (182)",38.50,23
5300,5300,"Jardim Guanabara, (98)","STADIUM AREA, (182)",13.50,23

In [5]:
match_day = match_day.drop(columns=["Unnamed: 0"], axis=1)

## Saving

In [6]:
import os
dir = '../../../data/data from API/match_day'

if not os.path.exists(dir): 
    os.makedirs(dir)
#se essa pasta não existir, crio ela

In [7]:
match_day.to_csv(dir + '/hourly(20-4).csv')

In [8]:
match_day

,origin_id,destination_id,total_trips,Arrival Hour
0,"Leblon, (103)","STADIUM AREA, (182)",18.36,0
1,"Lins de Vasconcelos, (105)","STADIUM AREA, (182)",10.76,0
2,"NILÓPOLIS, (11)","STADIUM AREA, (182)",10.13,0
3,"Marechal Hermes, (111)","STADIUM AREA, (182)",13.04,0
4,"Maré, (113)","STADIUM AREA, (182)",14.37,0
...,...,...,...,...
5296,"Itanhangá, (91)","STADIUM AREA, (182)",17.23,23
5297,"Jacarepaguá, (92)","STADIUM AREA, (182)",87.06,23
5298,"Jacaré, (94)","STADIUM AREA, (182)",11.10,23
5299,"Jardim Botânico, (96)","STADIUM AREA, (182)",38.50,23
5300,"Jardim Guanabara, (98)","STADIUM AREA, (182)",13.50,23

In [19]:
match_day2 = match_day[match_day["origin_id"]!='STADIUM AREA, (182)']
match_day2.reset_index(inplace=True)

In [20]:
match_day2 = match_day2.drop(columns=["index"], axis=1)

In [23]:
match_day2

,origin_id,destination_id,total_trips,Arrival Hour
0,"Leblon, (103)","STADIUM AREA, (182)",18.36,0
1,"Lins de Vasconcelos, (105)","STADIUM AREA, (182)",10.76,0
2,"NILÓPOLIS, (11)","STADIUM AREA, (182)",10.13,0
3,"Marechal Hermes, (111)","STADIUM AREA, (182)",13.04,0
4,"Maré, (113)","STADIUM AREA, (182)",14.37,0
...,...,...,...,...
2671,"Itanhangá, (91)","STADIUM AREA, (182)",17.23,23
2672,"Jacarepaguá, (92)","STADIUM AREA, (182)",87.06,23
2673,"Jacaré, (94)","STADIUM AREA, (182)",11.10,23
2674,"Jardim Botânico, (96)","STADIUM AREA, (182)",38.50,23
2675,"Jardim Guanabara, (98)","STADIUM AREA, (182)",13.50,23

In [24]:
match_day2.to_csv(dir + '/hourly(20-4).csv')